// Defines texts and titles with repetitive styles

.title__main {
  font-family: $fontFamily-titles;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $fontColor-dark;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.73;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
    line-height: 1.41;
  }
}

.text__main {
  font-family: $fontFamily;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  // Variable color, to be set individually
  @media all and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.text__button {
  text-decoration: none;
  font-family: $fontFamily;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 41px;
  letter-spacing: normal;
  text-align: center;
  // Variable color, to be set individually
}
