<footer class="footer">
  <small class="footer__small">
    <span>&#169;2017</span>
    <span
      >we<img
        title="Orange heart"
        src="./assets/images/heart-solid.svg"
        alt="Orange heart"
      />components</span
    >
  </small>
  <nav class="footer__menuOne">
    <ul class="footer__menuOne--list">
      <li class="footer__menuOne--item">
        <a title="Go to articles" href="https://adalab.es/">Articles</a>
      </li>
      <li class="footer__menuOne--item">
        <a title="Go to books" href="https://adalab.es/">Books</a>
      </li>
      <li class="footer__menuOne--item">
        <a title="Go to events" href="https://adalab.es/">Events</a>
      </li>
      <li class="footer__menuOne--item">
        <a title="Go to reasons" href="https://adalab.es/">Reasons</a>
      </li>
      <li class="footer__menuOne--item">
        <a title="Go to tips" href="https://adalab.es/">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__menuTwo">
    <ul class="footer__menuTwo--list">
      <li class="footer__menuTwo--item">
        <a title="Go to Twitter" href="https://adalab.es/">Twitter</a>
      </li>
      <li class="footer__menuTwo--item">
        <a title="Go to Instagram" href="https://adalab.es/">Instagram</a>
      </li>
      <li class="footer__menuTwo--item">
        <a title="Go to Mastodon Social" href="https://adalab.es/"
          >Mastodon Social</a
        >
      </li>
    </ul>
  </nav>
</footer>
