<footer class="footer">
  <a
    class="footer__arrow round-button"
    title="To page's beginning"
    href="index.html"
  ></a>
  <small class="footer__small">
    <div>&#169;2017</div>
    <div>we <span class="footer__small--deco">❤︎ </span>components</div>
  </small>
  <nav class="footer__menuOne">
    <ul class="footer__menuOne--list">
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--item"
          title="Go to articles"
          href="https://adalab.es/"
          >Articles</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--item"
          title="Go to books"
          href="https://adalab.es/"
          >Books</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--item"
          title="Go to events"
          href="https://adalab.es/"
          >Events</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--item"
          title="Go to reasons"
          href="https://adalab.es/"
          >Reasons</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--item"
          title="Go to tips"
          href="https://adalab.es/"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__menuTwo">
    <ul class="footer__menuTwo--list">
      <li class="footer__menuTwo--item">
        <a
          class="footer__menuTwo--item"
          title="Go to Twitter"
          href="https://adalab.es/"
          >Twitter</a
        >
      </li>
      <li class="footer__menuTwo--item">
        <a
          class="footer__menuTwo--item"
          title="Go to Instagram"
          href="https://adalab.es/"
          >Instagram</a
        >
      </li>
      <li class="footer__menuTwo--item">
        <a
          class="footer__menuTwo--item"
          title="Go to Mastodon Social"
          href="https://adalab.es/"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </nav>
</footer>
