<footer class="footer">
  <a class="footer__arrow round-button" title="Back to start" href="#begin"></a>
  <small class="footer__small">
    <div>&#169;2017</div>
    <div>We <span class="footer__small--deco">❤︎ </span>components</div>
  </small>
  <nav class="footer__menuOne">
    <ul class="footer__menuOne--list">
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--aitem"
          title="Check our articles"
          href="https://adalab.es/"
          >Articles</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--aitem"
          title="Check our books"
          href="https://adalab.es/"
          >Books</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--aitem"
          title="Check our events"
          href="https://adalab.es/"
          >Events</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--aitem"
          title="Check reasons to purchase"
          href="https://adalab.es/"
          >Reasons</a
        >
      </li>
      <li class="footer__menuOne--item">
        <a
          class="footer__menuOne--aitem"
          title="Check our tips"
          href="https://adalab.es/"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__menuTwo">
    <ul class="footer__menuTwo--list">
      <li class="footer__menuTwo--item">
        <a
          class="footer__menuTwo--aitem"
          title="Find us in Twitter"
          href="https://adalab.es/"
          >Twitter</a
        >
      </li>
      <li class="footer__menuTwo--item">
        <a
          class="footer__menuTwo--aitem"
          title="Find us in Instagram"
          href="https://adalab.es/"
          >Instagram</a
        >
      </li>
      <li class="footer__menuTwo--item">
        <a
          class="footer__menuTwo--aitem"
          title="Find us in Mastodon Social"
          href="https://adalab.es/"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </nav>
</footer>
