// Colors
$color-primary: #304268;
$color-secondary: #f26002;
$color-tertiary: #eff9ff;

$color-midtone: #0271bc;
$color-light: #ffffff;

// Font Family
$fontFamily: "Roboto", sans-serif;
$fontFamily-titles: "Roboto Slab", serif;
$fontColor-dark: #000000;
$fontColor-light: #4a4a4a;
$fontColor-blue: #8ccbea;
$fontColor-orange: #f26002;
$fontColor-white: #ffffff;
