.main__sectionOne {
  height: 376px;
  padding: 30px 15px 45px 15px;
  @media all and (min-width: 768px) {
    padding: 30px 39px 60px 39px;
    height: 330px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px 60px 275px;
    height: 360px;
  }
  &--minititle {
    color: $fontColor-blue;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-transform: capitalize;
    margin-bottom: 1px;
    @media all and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.88;
    }
  }
  &--title {
    text-transform: capitalize;
    margin-bottom: 15px;
    @media all and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &--text {
    color: $fontColor-light;
    margin-bottom: 30px;
  }
  &--button {
    display: inline-block;
    height: 45px;
    padding: 0px 25px 0px 26px;
    border-radius: 22.5px;
    border: 2px solid $color-secondary;
    text-decoration: none;
    color: $color-secondary;
    font-weight: 500;
    line-height: 2.25;
    @media all and (min-width: 768px) {
      padding: 0px 33.5px 0px 33.5px;
    }
    @media all and (min-width: 1200px) {
      padding: 0px 68px 0px 67px;
    }
  }
}
